.container {
    text-align: center;
    margin: 60px; 
    margin-top: 30px;
}

 .about-text {
    margin-bottom: 40px;
    margin-top: 30px;
    margin: 20px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    background-color: #023443;
    border-radius: 20px;
    max-width: 800px;
    margin-left: 350px;
    
}

.feature {
    padding: 30px;
}

.read-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 40px ;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
}

/* Media Queries for Mobile */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        flex-direction: column; 
    }

    .features {
        grid-template-columns: 1fr; /* Stack features in a single column on mobile */
        margin-top: 15px;
    }

    .feature {
        padding: 10px;
    }
}